@import "~materialize-css/dist/css/materialize.min.css";

input.yellow-input {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
}

input.yellow-input+label {
    color: #fff !important;
}

input.yellow-input:focus+label {
    color: #ffeb3b !important;
}

input.yellow-input:focus {
    border-bottom: 1px solid #ffeb3b !important;
    box-shadow: 0 1px 0 0 #ffeb3b !important;
}

.checkbox-yellow[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #ffeb3b !important;
    background-color: #ffeb3b !important;
}

[type="checkbox"]+span:not(.lever) {
    height: 16px;
}

.table {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 600;
    padding: 0 11px;
}

.table-item {
    margin: 0 5px;
}
.table-item.description {
    flex-basis: 800px;
}

.task {
    display: flex;
    align-items: center;
    background: #F2F2F2;
    justify-content: space-between;
    border-radius: 4px;
    padding: 11px;
    margin-top: 13px;
    overflow: hidden;
    box-sizing: border-box;
    transition: 0.2s ease;
}

.task:hover {
    opacity: 1;
}

.completed {
    opacity: 0.4;
}

.material-icons-round {
    pointer-events: none;
}

.action-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.task-description {
    flex-basis: 800px;
    font-size: 17px;
    font-weight: 500;
}

.text-through {
    text-decoration: line-through;
}